 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 122px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 969px;
  margin: 62px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-1 .u-icon-1 {
  height: 22px;
  width: 22px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 0 0 0 15px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  height: 22px;
  width: 22px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  height: 22px;
  width: 22px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  height: 22px;
  width: 22px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  height: 22px;
  width: 22px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-1 .u-icon-6 {
  height: 22px;
  width: 22px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 576px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }

  .u-section-1 .u-icon-1 {
    padding: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    padding: 4px;
  }

  .u-section-1 .u-icon-3 {
    padding: 4px;
  }

  .u-section-1 .u-icon-4 {
    padding: 4px;
  }

  .u-section-1 .u-icon-5 {
    padding: 4px;
  }

  .u-section-1 .u-icon-6 {
    padding: 4px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 462px;
}

.u-section-3 .u-image-1 {
  width: 233px;
  height: 84px;
  margin: 54px auto 0 13px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 33px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 24px 29px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 133px 0 13px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-size: 1rem;
  margin: 13px 24px 0 13px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 116px 0 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 13px 0 0 10px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 291px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 12px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 129px 0 13px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 16px 13px 0;
}

.u-section-3 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 252px;
  min-width: 136px;
  white-space: nowrap;
  margin: 0 8px 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 240px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 41px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 21px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}